@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<h2>Confirm</h2>

<p>
    Hi, @ViewBag.DisplayName
    <br />
    We send you a confirmation EMail, Please check your Inbox..  @ViewBag.EmailInfo
</p>